#title{
    font-family: Helvetica;
    font-style: bold;
    color: blueviolet;
    text-align: center;  
}
P{
    font-family: Helvetica;
    font-style: bold;
    color: pink;
    text-align: center;
}
#cat-image{
    align-items: center;
}