#title{
    font-family: Helvetica;
    font-style: bold;
    color: blueviolet;
    text-align: center;  
}
P{
    font-family: Helvetica;
    font-style: bold;
    color: pink;
    text-align: center;
}
.center{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}